@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1000;
}

html{
  scroll-behavior: smooth;
  z-index: 1000;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background: rgb(0, 0, 0);
  overflow-x: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: transparent;
  position: fixed;
  padding-top: 47px;
  padding-bottom: 47px;
  width: 100%;
  top: 0%;
  left: 0%;
  border-radius: 10px;
  z-index: 1001;
}

nav .all {
  display: flex;
  position: absolute;
}

nav .register {
  width: 250px;
  margin-top: 15px;
  margin-left: 60px;
}

nav h1,span {
  font-weight: bold;
}

nav h1:hover {
  color: white;
  text-decoration: none;
}

nav .logo{
  font-size: 23px;
  cursor: pointer;
  position: relative;
  right: 5.5%;
  color: #ffffff;
  width: 100px;
  margin: 10px 130px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav .logo a {
  text-decoration: none;
}

nav .register .signup button{
  cursor: pointer;
  font-size: 15px;
  margin: 8px;
  padding: 8px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 3px#ffffff41;
  transition: 1s;
  background-color: transparent;
  color: white;
  font-weight: bold;
  background-color: #ec2e2083;
  transition: 1s;
}

nav .register .signup button:hover {
  text-decoration: none;
  border: none;
  box-shadow: 0 0 10px#ec2f20;
  transition: 1s;
}

nav .register .login button{
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
  margin: 8px;
  right: -100%;
  padding: 8px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 10px;
  border: none;
  color: #ec2f20;
  box-shadow: 0 0 2px#ec2f20;
  font-weight: bold;
  transition: 1s;
}

nav .register .login button:hover {
  text-decoration: none;
  border: none;
  box-shadow: 0 0 10px#ec2f20;
  transition: 1s;
}

nav .logo span{
  transition: 0.7s;
}

nav .logo span:hover{
  color: #ec2f20;
  text-decoration: none;
  transition: 0.7s;
}

nav a {
  text-decoration: none;
  color: white;
}

nav .choice{
  padding-left: 130px;
  padding-right: 100px;
  margin-left: -36px;
  margin-right: 1px;
  padding-top: 25px;
  width: 750px;
  z-index: 1000;
}

nav .choice a{
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 8px 8px 8px 8px;
  left: 80%;
  transition: 1s;
  z-index: 1000;
}

nav .choice a:hover {
  text-decoration: underline;
  color: #ec2f20;
  transition: 1s;
}

nav.blurred {
  backdrop-filter: blur(10px); /* Apply backdrop filter for blur effect */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease; /* Smooth transition */
}

.card-body p {
  color: #908f8f;
  font-size: 20px;
  font-weight: 600;
  padding: 0 10px;
  text-align: left;
}

.card-body ul {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  padding-left: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 40px;
  font-weight: 100;
  color: #efefef;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

header {
  position: absolute;
  width: 100%;
  z-index: 2000;
}

.container {
  width: 100%;
  padding-top: 60px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  z-index: 1000;
}

.headline {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  color: #908f8f;
}

.path-title-summary {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-bottom: 18px;
  padding-top: 10px;
  background-image: linear-gradient(45deg, rgb(60, 2, 2), #4100a3, #ec2f20,
    rgb(60, 2, 2), #4100a3, #ec2f20,
    rgb(60, 2, 2), #4100a3, #ec2f20,
    rgb(60, 2, 2), #4100a3, #ec2f20); 
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 400% 400%;
    animation: animate 15s ease infinite;
}

@keyframes animate{
  0%{
      background-position: 0 0;
  }
  25%{
      background-position: 100% 0;
  }
  50%{
      background-position: 100% 100%;
  }
  75%{
      background-position: 0 100%;
  }
  100%{
      background-position: 0 0;
  }
}

.path-desc-summary {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #908f8f;
}

.section {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.small-card {
  max-width: 33%;
}
.big-card {
  max-width: 66%;
}

.introduction {
  position: absolute;
  left: -25%;
  color: white;
}

.path-intro {
  padding-left: 25px;
}

.enroll-btn {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
  position: absolute;
  font-size: 15px;
  margin: 8px;
  margin-top: 0;
  margin-left: 480px;
  padding: 8px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 3px #ffffff41;
  transition: 1s;
  background-color: transparent;
  color: white;
  font-weight: bold;
  background-color: #ec2e2083;
  transition: 1s;
}

.enroll-btn:hover {
  text-decoration: none;
  border: none;
  box-shadow: 0 0 10px #ec2f20;
  transition: 1s;
}

.btn-1 {
    margin-left: 480px;
}

.path-intro h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  color: #9c1f16;
  text-transform: uppercase;
  padding-bottom: 13px;
  padding-top: 20px;
}

.path-intro p {
  color: #908f8f;
  font-size: 20px;
  padding-top: 25px;
  font-weight: 600;
}

.path-intro ul {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  padding-left: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 40px;
  font-weight: 100;
  color: #efefef;
}

.path-sum-chapter {
  color: #9c1f16;
  font-size: 25px;
  padding-left: 25px;
  padding-bottom: 15px;
}

.path-sum-title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-left: 85px;
  padding-bottom: 20px;
  letter-spacing: 2px;
  font-size: 19px;
}

.path-sum-title h2 {
    font-size: 20px;
    padding-top: 15px;
}

.card-img-top {
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.path-sum-room {
  display: flex;
  padding: 5px 0;
  padding-left: 80px;
  padding-top: 20px;
  text-decoration: none;
  align-items: center !important;
  transition: 1s;
}

.path-sum-room h3 {
  padding-left: 30px;
  color: #bdbdbd;
  font-size: 17px;
  transition: 1s;
}

.path-sum-room h3:hover {
  color: #9c1f16;
  text-decoration: none;
  transition: 1s;
}

.path-sum-room-img {
  width: 62px;
  height: 62px;
  object-fit: cover;
  position: absolute;
  left: 5%;
  margin-bottom: 50px;
  border-radius: 3px;
}

.card {
  position: relative;
  display: flex;
  top: 20%;
  flex-direction: column;
  min-width: 0;
  color: white;
  background-color: rgba(255, 255, 255, 0); /* Semi-transparent background */
  background-clip: border-box;
  box-shadow: 0 0 10px #ec2f20;
  margin: 15px;
  margin-bottom: 380px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  backdrop-filter: blur(3px);
  z-index: 100000;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  padding-bottom: 100px;
}

.path-title-summary {
  font-size: 3rem;
  border-radius: 5px;
}

.path-desc-summary {
  font-size: 1.25rem;
  border-radius: 5px;
  margin-bottom: 0;
}

.path-sum-section {
  margin-top: 4em;
}

footer{
  width: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer .main{
  width: 100%;
  display: flex;
  padding-top: 200px;
  justify-content: space-around;
}

footer .main .tag{
  margin: 10x 0;
}

footer .main .tag .center{
  text-align: center;
}

footer .main .tag h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  background-image: linear-gradient(45deg, rgb(60, 2, 2), #4100a3, #ec2f20,
  rgb(60, 2, 2), #4100a3, #ec2f20,
  rgb(60, 2, 2), #4100a3, #ec2f20,
  rgb(60, 2, 2), #4100a3, #ec2f20); 
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400% 400%;
  animation: animate 15s ease infinite;
}

@keyframes animate{
  0%{
      background-position: 0 0;
  }
  25%{
      background-position: 100% 0;
  }
  50%{
      background-position: 100% 100%;
  }
  75%{
      background-position: 0 100%;
  }
  100%{
      background-position: 0 0;
  }
}

footer .main .tag .social_link{
  display: flex;
}

footer .main .tag .social_link a{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.511);
  border: 1px solid rgba(255, 255, 255, 0.459);
  position: relative;
  left: 9%;
  margin: 5px 5px;
  margin-top: 30px;
  padding-bottom: 10px;
  overflow: hidden;
  z-index: 10;
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
}

footer .main .tag .social_link a .fa-brands{
  font-size: 22px;
  line-height: 40px;
  z-index: 10;
  position: relative;
  transition: 1s;
}

footer .main .tag .social_link a:hover i{
  color: #ec2f20;
  transition: 1s;
}

footer .main .tag .copyright {
  color: rgba(255, 255, 255, 0.53);
  font-size: 11px;
  font-family: "Poppins", sans-serif;
  padding-top: 25px;
  margin-left: 8px;
}

footer .main .tag .copyright a {
  color: #ec2f20;
}

footer .main .tag .copyright a:hover {
  color: white;
}